@import "typography"

.movies
  background: $--background--dark

  &__title
    font-weight: $--font-weight-bold
    font-size: $--font-size-big
    color: $--color-yellow

  &__content
    display: flex
    flex-direction: column
    gap: 2rem

  &__list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    justify-items: center
    gap: 3rem

@media (max-width: 1024px)
  .movies
    &__list
      grid-template-columns: repeat(3, 1fr)

@media (max-width: 768px)
  .movies
    &__list
      grid-template-columns: repeat(2, 1fr)

@media (max-width: 425px)
  .movies
    &__list
      grid-template-columns: repeat(1, 1fr)
@import "card"