body,
html {
    font-size: 10px;
    font-family: -apple-system, sans-serif;
    font-weight: 400;
    height: 100%
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column
}

.main {
    flex: 1 1 auto;
    background-color: #000000b3
}

ul,
li {
    list-style: none
}

.header {
    background: #000000b3;
    padding: 1.5rem 0
}

.header__content {
    display: flex;
    justify-content: space-between
}

.header__logo {
    width: 5rem;
    height: 5rem;
    align-self: center;
    justify-self: center
}

.header__logo>img {
    width: 100%;
    height: 100%
}

.header__search {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 0
}

.header__input {
    font-size: 1.4rem;
    font-weight: 400;
    color: #000c
}

.header__label {
    display: flex;
    width: 3rem;
    cursor: pointer
}

.header__label:after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2050%2050'%20width='50px'%20height='50px'%3e%3cpath%20d='M%2021%204%20C%2011.082241%204%203%2012.082241%203%2022%20C%203%2031.917759%2011.082241%2040%2021%2040%20C%2024.62177%2040%2027.99231%2038.91393%2030.820312%2037.0625%20L%2043.378906%2049.621094%20L%2047.621094%2045.378906%20L%2035.224609%2032.982422%20C%2037.581469%2029.938384%2039%2026.13473%2039%2022%20C%2039%2012.082241%2030.917759%204%2021%204%20z%20M%2021%208%20C%2028.756241%208%2035%2014.243759%2035%2022%20C%2035%2029.756241%2028.756241%2036%2021%2036%20C%2013.243759%2036%207%2029.756241%207%2022%20C%207%2014.243759%2013.243759%208%2021%208%20z'/%3e%3c/svg%3e");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat
}

.header__nav {
    align-self: center
}

.header__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.4rem;
    color: #f8f8f8
}

.header__item {
    border: solid 1px #f8f8f8;
    padding: .5rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: .3s ease-in-out;
    min-width: 15rem;
    text-align: center
}

.header__item:hover {
    border: solid 1px rgb(255, 238, 115);
    color: #ffee73
}

@media (max-width: 1024px) {
    .header__list {
        font-size: 1rem;
        gap: 1rem
    }

    .header__nav {
        display: flex
    }
}

@media (max-width: 768px) {
    .header__nav {
        display: none
    }
}

.movies {
    background: #000000b3;
    padding: 3rem 0
}

.movies__title {
    font-weight: 600;
    font-size: 3rem;
    color: #ffee73
}

.movies__content {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.movies__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 3rem
}

@media (max-width: 1024px) {
    .movies__list {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (max-width: 768px) {
    .movies__list {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width: 425px) {
    .movies__list {
        grid-template-columns: repeat(1, 1fr)
    }
}

.card {
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem
}

.card__header {
    height: 40rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    cursor: pointer
}

.card__top {
    display: flex;
    justify-content: space-between;
    grid-row: 1/2;
    z-index: 2;
    position: absolute;
    padding: 1rem;
    width: 100%
}

.card__rating {
    padding: .7rem;
    color: #ffee73;
    border-radius: 50%;
    border: solid 1px #f8f8f8;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-weight: 700
}

.card__follow {
    width: 3rem;
    height: 3rem;
    background-color: #f8f8f8;
    border-radius: 50%;
    padding: .5rem
}

.card__follow:before {
    display: flex;
    content: "";
    background-image: url("data:image/svg+xml,%3c?xml%20version='1.0'%20encoding='iso-8859-1'?%3e%3c!--%20Uploaded%20to:%20SVG%20Repo,%20www.svgrepo.com,%20Generator:%20SVG%20Repo%20Mixer%20Tools%20--%3e%3csvg%20fill='%23000000'%20height='800px'%20width='800px'%20version='1.1'%20id='Layer_1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20viewBox='0%200%20512.289%20512.289'%20xml:space='preserve'%3e%3cg%3e%3cg%3e%3cpath%20d='M477.051,72.678c-32.427-36.693-71.68-55.467-111.787-55.467c-45.227,0-85.333,27.307-109.227,72.533%20c-23.04-45.227-64-72.533-108.373-72.533c-40.96,0-78.507,18.773-111.787,55.467c-39.253,43.52-61.44,141.653,15.36,215.04%20c35.84,33.28,197.12,203.093,198.827,204.8s3.413,2.56,5.973,2.56s5.12-0.853,6.827-3.413%20c1.707-1.707,163.84-170.667,198.827-204.8C537.637,213.478,515.451,115.344,477.051,72.678z%20M448.891,275.771%20c-31.573,29.867-162.987,167.253-192.853,198.827c-29.867-32.427-160.427-168.96-192.853-199.68%20c-69.12-65.707-49.493-151.893-14.507-190.293c29.867-32.427,64-49.493,98.987-49.493c42.667,0,81.067,29.867,100.693,79.36%20c0.853,2.56,4.267,5.12,7.68,5.12s6.827-2.56,7.68-5.12c19.627-48.64,58.027-79.36,101.547-79.36%20c35.84,0,69.12,16.213,98.133,50.347C497.531,123.024,517.157,210.064,448.891,275.771z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 2rem;
    height: 2rem
}

.card__follow.active:before {
    display: flex;
    content: "";
    background-image: url("data:image/svg+xml,%3c?xml%20version='1.0'%20encoding='iso-8859-1'?%3e%3c!--%20Uploaded%20to:%20SVG%20Repo,%20www.svgrepo.com,%20Generator:%20SVG%20Repo%20Mixer%20Tools%20--%3e%3csvg%20height='800px'%20width='800px'%20version='1.1'%20id='Layer_1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20viewBox='0%200%20512%20512'%20xml:space='preserve'%3e%3cpath%20style='fill:%23FF6647;'%20d='M474.655,74.503C449.169,45.72,413.943,29.87,375.467,29.87c-30.225,0-58.5,12.299-81.767,35.566%20c-15.522,15.523-28.33,35.26-37.699,57.931c-9.371-22.671-22.177-42.407-37.699-57.931c-23.267-23.267-51.542-35.566-81.767-35.566%20c-38.477,0-73.702,15.851-99.188,44.634C13.612,101.305,0,137.911,0,174.936c0,44.458,13.452,88.335,39.981,130.418%20c21.009,33.324,50.227,65.585,86.845,95.889c62.046,51.348,123.114,78.995,125.683,80.146c2.203,0.988,4.779,0.988,6.981,0%20c2.57-1.151,63.637-28.798,125.683-80.146c36.618-30.304,65.836-62.565,86.845-95.889C498.548,263.271,512,219.394,512,174.936%20C512,137.911,498.388,101.305,474.655,74.503z'/%3e%3cpath%20style='fill:%23E35336;'%20d='M160.959,401.243c-36.618-30.304-65.836-62.565-86.845-95.889%20c-26.529-42.083-39.981-85.961-39.981-130.418c0-37.025,13.612-73.631,37.345-100.433c21.44-24.213,49.775-39.271,81.138-43.443%20c-5.286-0.786-10.653-1.189-16.082-1.189c-38.477,0-73.702,15.851-99.188,44.634C13.612,101.305,0,137.911,0,174.936%20c0,44.458,13.452,88.335,39.981,130.418c21.009,33.324,50.227,65.585,86.845,95.889c62.046,51.348,123.114,78.995,125.683,80.146%20c2.203,0.988,4.779,0.988,6.981,0c0.689-0.308,5.586-2.524,13.577-6.588C251.254,463.709,206.371,438.825,160.959,401.243z'/%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 2rem;
    height: 2rem
}

.card__img {
    width: 100%;
    height: 100%;
    grid-row: 1/-1
}

.card__year {
    z-index: 3;
    grid-row: 3/-1;
    position: absolute;
    color: #f8f8f8;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    padding: .5rem 1rem;
    text-align: center;
    background-color: #000000b3;
    border: solid 1px #f8f8f8
}

.card__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.card__title {
    font-size: small;
    color: #ffee73;
    line-height: 3.6rem
}

.card__genres {
    overflow: hidden;
    display: flex;
    gap: 1rem;
    list-style: none
}

.card__genre {
    color: #ffee73;
    font-size: 1.4rem
}

.footer {
    background-color: #000000b3;
    display: flex;
    padding: 3rem 0
}

.footer__logo {
    width: 4rem
}

.error {
    background: #000000b3;
    min-height: 100%
}

.error__content {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.error__content>img {
    width: 60%;
    margin: 0 auto
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.container {
    max-width: 144rem;
    width: 100%;
    margin: 0 auto
}

.rating {
    color: #ffee73;
    font-size: 1.4rem
}

.detail {
    padding: 3rem
}

.detail__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 50%;
    margin: 0 auto
}

.detail__top {
    display: grid;
    grid-template-columns: 30rem 1fr
}

.detail__left,
.detail__right {
    display: flex;
    flex-direction: column;
    gap: 3rem
}

.detail__poster {
    width: 24rem
}

.detail__information {
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

.detail__info {
    display: grid;
    grid-template-columns: 4rem 1fr;
    gap: 5rem
}

.detail__info-title {
    font-size: 2rem
}

.detail__info-item {
    font-size: 1.4rem
}

.detail__info-list {
    display: flex;
    gap: .8rem;
    align-self: center
}

.detail__title {
    font-size: 3rem
}

.detail__description {
    font-size: 2rem
}

@media (max-width: 768px) {
    .detail__content {
        flex-direction: column
    }

    .detail__top {
        display: flex;
        flex-direction: column
    }
}